[Unit]
Description=Kafka broker service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/etc/kafka/bin/kafka-server-start.sh /etc/kafka/config/server.properties 

[Install]
WantedBy=multi-user.target
Alias=kafka.service
