[Unit]
Description=Zookeeper service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/etc/kafka/bin/zookeeper-server-start.sh /etc/kafka/config/zookeeper.properties 

[Install]
WantedBy=multi-user.target
Alias=zookeeper.service
