[Unit]
Description=Kafka broker service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
StandardOutput=/var/kafka/log1.log
StandardError=/var/kafka/log2.log
ExecStart=/etc/kafka/bin/kafka-server-start.sh /etc/kafka/config/servers.properties 

[Install]
WantedBy=multi-user.target
Alias=kafka.service
