[Unit]
Description=Zookeeper service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
StandardOutput=/var/zookeeper/log1.log
StandardError=/var/zookeeper/log2.log
ExecStart=/etc/kafka/bin/zookeeper-server-start.sh /etc/kafka/config/zookeeper.properties 

[Install]
WantedBy=multi-user.target
Alias=zookeeper.service
